@font-face {
    font-family: 'Courier Prime';
    src: url('./Fonts/CourierPrime-Regular.woff2') format('woff2'),
        url('./Fonts/CourierPrime-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eagle Lake';
    src: url('./Fonts/EagleLake-Regular.woff2') format('woff2'),
        url('./Fonts/EagleLake-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    box-sizing: border-box;
    font-family: inherit;
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Courier Prime', Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;

    background-image: url("./pictures/Back.png");
    image-rendering: pixelated;
}

h1{
    font-family: 'Eagle Lake';
    font-size: 2.5rem;
}

img{
    display: block; 
    width: 1000px;
    height: auto;
}

button{
    display: block;
    padding: 12px 24px;
    font-size: 1.2rem;

    background-color: rgb(94, 81, 67);
    border: 2px solid rgb(94, 81, 67);
    background-image: url(./pictures/BackGround.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    image-rendering: pixelated;
    padding: 12px 24px;

    cursor: pointer;

}

button:hover{
    filter: brightness(0.9);
}

button:active{
    filter: brightness(0.75);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    padding: 32px;
}

#library{
    width: 1000px;
    height: 650px;

    padding: 24px 54px;

    background-image: url("./pictures/Boockshelf.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


    display: grid;
    grid-template-columns: repeat(5, 53px) 73px repeat(5, 53px) 74px repeat(4, 54px);
    grid-template-rows: repeat(4, 130px);

    align-items: stretch;
    justify-items: right;

    row-gap: 12px;
}

#library:nth-child(6n){
    margin-left: 20px;
}

#formContainer{
    visibility: hidden;
    position: fixed;
    left: calc(50% - 200px);
    top: calc(50% - 300px);

    width: 400px;
    height: 600px;
}