@font-face {
    font-family: 'Courier Prime';
    src: url('CourierPrime-Regular.woff2') format('woff2'),
        url('CourierPrime-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Eagle Lake';
    src: url('EagleLake-Regular.woff2') format('woff2'),
        url('EagleLake-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

